.favorites-container {
  padding: 20px 0px;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
}

.favorite-movie {
  width: 70%;
  justify-self: center;
  display: flex;
  
  gap: 15px;
  border-radius: 15px;
  font-size: 1rem;
 border: 1px solid rgb(10, 17, 80);
  box-shadow: #c2c3f84b 0px 4px 12px;
}

.favorite-movie .movie-description {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.favorite-movie .poster {
  align-self: center;
  justify-self: center;
  padding: 0;
  margin: 0;
  max-height: 180px;
  vertical-align: bottom;
  border-radius: 15px;
  box-shadow: #c2c3f84b 0px 4px 12px;
}
.favorite-movie .year {
  color: rgba(255, 255, 255, 0.795);
}

.favorite-movie .btn {
  text-align: center;
  align-self: start;
  border-radius: 3px;
  background-color: #151c27;
  color: white;
}


