.movie-details-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  border-radius: 15px;
  background-color: #151c27;
  color: white;
}

.movie-details-card {
  display: flex;
  gap: 15px;
}

.movie-details-card section {
  margin: 0;
  padding: 0;
}

.movie-card-poster {
 max-height: 200px;
  border-radius: 15px;

}

* {
  border: 1px solid black;
}
