.user-movies-info-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 15px;
  background-color: #151c27;
}

.card-movies-stats {
  background-color: #19283d;
  box-shadow: 0px 9px rgba(255, 255, 255, 0.082);
  border-radius: 10px;
  color: white;
  padding: 15px;
}

.card-movies-stats h4 {
  padding: 0;
  margin: 0;
  text-align: left;
}

.movie-list-details {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.user-movie-list {
  list-style: none;
  color: white;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.user-movie-list h3 {
  padding: 0;
  margin: 0;
}

.user-movie-list {
  align-items: center;
  
}

.user-movie-favorites-container {
  padding: 0;
  margin: 0;
}

.user-movie-watchlist-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
